# HOW TO: show all ignored files and paths: git status --ignored --short | grep '^!!'

VTK-9.3.0/
src/build
src/verify_fluid/fluids3
*.kdev4
/.gitignore
!src/demo

src/demo/out/particles_pos_vel_color*.csv
src/demo/out/particles_pos_vel_color*.vtk
!src/demo/out
!src/demo/check





